body {
    margin: 0;
    padding: 0;
    border: 0;
}


/*menu css in style.css*/



:root { 
    --color-font-curriculum: #170133;
    --color-background-curriculum: rgb(238, 209, 176);
    --font-curriculum: 'Times', sans-serif; 
}

.menu {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.topics {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.topic {
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remover borda */
    border-radius: 30px; /* Cantos arredondados para fazer parecer uma pílula */
    background-color:  rgb(175, 107, 175); /* Cor de fundo */
    color: white; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Exibir como bloco */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor ao passar o mouse */
  }
  
  .topic:hover {
    background-color: var(--cor-padrao-background); /* Mudar a cor de fundo quando o mouse passar por cima */
  }
  

.curriculum {
    /*largura fixa pois se o conteudo for menor o curriculo fica em um tamanho quase padrão*/
    width: 50%;
     /* width: 100%; faz o curriculum ocupar 100% do espaco, assim a cor roxa do espaco disponivel não vai aparecer
    geralmente quando aparece a cor roxa no devTools mode, é porque o width ou o height não estava configurado */

    /*vertical horinzontal, margem de fora do curriculum*/
    /* margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 10%; */
    margin: 5%;
    
    
    /*padding -> é o espaço entre o conteúdo interno(ex:<p>) do curriculum e a borda*/
    padding: 5% 5%; 
    
    
    /*não precisa de height, já que ela irá se ajustar a quantidade de sections*/
    /* height: 1750px; */
    background-color: var(--color-background-curriculum);
    border: 2px solid var(--color-background-curriculum);
    border-radius: 12px;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);  */
    color: var(--color-font-curriculum);
    font-style: var(--font-curriculum);
    
    /* justify-content: space-between; */
    font-size: 1.2rem; /*=24px*/
   
}

.curriculum__tittle {
    display: flex;
    /*é necessário usá-lo para centralizar o conteúdo, do contrário ele não vai ficar no centro. ele de certa forma define onde é o centro*/
    flex-direction: column;
    /*alinha o titulo <h1> no centro*/
    align-items: center; 
    
}

.curriculum__tittle h1 {
    font-size: 3rem;
}

.curriculum__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    
}



.curriculum__text__unit {
    background-color: rgb(236, 206, 172);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3px; /*gap for each topic inside a unit(ex: gap between topics for experience (role, company, startDate-endDate and activities))*/
    
}

/*specific topics*/





@media(max-width: 700px) {

    .menu {
        padding: 20px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 50px;
    }
    
    .curriculum {
        width: auto;
    }

    .curriculum__text {
        padding: 10px;
        font-size: 15px;
        
    }
    
    .curriculum__tittle h1 {
        font-size: 1.8rem;
    }
  
}






