.bio {
  align-self: center; /* Align text to the bottom */
  padding: 0 2%; /* Adjust padding as needed */
  color: var(--text-color); /* Set your text color */
  background: none;
  line-height: 1.02;
  font-size: 2.9rem; /*=24px*/
  font-family: Georgia, serif;
  font-style: oblique;
  width: 100%;
  color: var(--font-color-primary);
}
.bio p {
  margin: 4px;
}

.bio strong {
  color: var(--font-color-featured);
}

@media (max-width: 600px) {
  .bio {
    width: 100%;
    font-size: 1.5rem;
    justify-content: center;
    line-height: 1.2;
  }
}
