.menu {
  --border-radius: 34px;
  z-index: var(--menu-z-index);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  display: grid;
  grid-template-rows: 3rem repeat(auto-fill, 4rem);
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: var(--font-color-secondary);
  box-shadow: 24px 24px 100px rgba(0, 0, 0, 0.8);
  transition: var(--animation-timing);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.menu .topic {
  font-family: var(--font-family-menu);
  font-size: var(--font-size-menu);
  font-style: italic;
  font-weight: var(--font-weight-menu);
  color: var(--background-color);
  position: relative; /* Ensure pseudo-element can be positioned relative to this */
  padding: 10px;
}

.menu .topic:hover {
  color: var(--font-color-featured);
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-color-featured);
}

.translate {
  translate: 100%;
}

@media (max-width: 400px) {
  .menu .topic {
    font-size: var(--font-size-menu);
  }
}
