@import "/src/vars.css";

.networks {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  align-items: center;
  background-color: none;
}

.networks-tittle {
  color: var(--font-color-primary);
  font-family: var(--font-family-menu);
  margin: 24px;
  font-size: 1.2rem;
  justify-self: center;
}
