.idioms .topic {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 206, 172);
  border: 2px solid rgb(236, 206, 172);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 32px;
  border-radius: 24px;
  margin-top: 6px;
  margin: 3%;
  gap: 6px;
}

.idioms h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.idioms p {
  font-size: 1.2rem;
}
