.home {
  --row-gap: 3rem;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: auto auto;
  row-gap: var(--row-gap);
  padding: 4% 2%;
  width: 100%;
}

.c-first {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.c-second {
  /*when the cards inside this content-second are bigger than the screen, they will be hidden, and you can see the with their own scroll(set in Projects.css)*/
  overflow: hidden;
  width: 100%;
}

.c-third {
  display: grid;
  justify-content: center;
}

.c-fourth {
  display: none;
}

.active {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  /*Background will seems like a glass*/
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Media query for screens less than 1200px */
@media (max-width: 1200px) {
  .c-first,
  .c-second {
    grid-template-columns: 1fr; /* Single column */
  }
}
