@import "/src/vars.css";

.button-network {
  display: grid;
  grid-template-columns: 50% 1fr;
  align-items: center;
  justify-self: center;
  gap: 6px;
  border-radius: 8px;
  width: 15em;
  height: 5rem;
  margin-bottom: 24px;
  background-color: #23034d;

  position: relative;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);
}

.button-network::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.button-network:hover::after {
  background-color: #50e3c2;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.bn-logo {
  width: 3rem;
}

.bnc-left {
  justify-self: center;
}

.bn-name {
  font-weight: 600;
  font-family: var(--font-family-menu);
  font-size: 0.9rem;
  color: var(--font-color-primary);
}

.bn-name:hover {
  color: var(--font-color-featured);
}
