.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar .avatar-crowned {
  position: relative;
}

.avatar .o-img {
  width: 20rem;
  border-radius: 50%;
}

.avatar .crown {
  position: absolute;
  width: 4rem;
  top: -1.5rem;
  left: 3.5rem;
  transform: rotate(-15deg);
}
