@import "./vars.css";

.App {
  min-height: 100vh; /*make the app/html occupies the whole page*/
  display: grid;
  grid-template-rows: auto 1fr 2rem;
  background-color: var(--background-color);
  width: 100%;
}
