@import url("./vars.css");

.o-main {
  min-height: 100dvh;
}
.curriculum-default {
  color: var(--background-color);
  background-color: var(--background-curriculum);
  border: 2px solid var(--background-color);
  border-radius: 12px;
  height: 100%;
  width: 100%;
  padding: 1% 3% 3% 3%;
  font-family: var(--font-family-curriculum);
}

.curriculum-default .tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Montserrat";
  margin: 2%;
}

@media (max-width: 800px) {
  .curriculum-default {
    font-size: 1rem;
  }
  .curriculum-default .tittle {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .curriculum-default .topic h3 {
    font-size: 1.2rem;
  }
}
