@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  /*BACKGROUND
  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
  */
  --background-color: #170133;
  --background-curriculum: rgb(238, 209, 176);
  --font-color-primary: #8cabff;
  --font-color-secondary: #7f27ff;
  --font-color-featured: #50e3c2;
  /*================================================================*/

  /*MENU
  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
  */
  --font-size-menu: 2rem;
  --font-weight-menu: 600;
  --menu-height: 100vh;
  --font-family-menu: "Montserrat", sans-serif;
  --menu-z-index: 1;
  --animation-timing: 200ms ease-in-out;
  /*================================================================*/

  /*MAIN
  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
  */
  --font-family-main: "Krona One", sans-serif;
  --font-family-curriculum: "Times", sans-serif;
  /*================================================================*/

  /*BUTTON ANIMATED
  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
  */
  --font-family-btn-animated: "Anton", sans-serif;
  /*================================================================*/
}
